# Server
ADDR=:8000
ENV=development
VERSION=0.1.0

# Database
DB_URL=postgres://postgres:password@localhost:5432/yomikai?sslmode=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_MAX_IDLE_TIME=15m

# JWT
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=168h
