{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "endOfLine": "lf",
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/app/globals.css",
    "tailwindFunctions": ["cn", "cva"]
}
